include ../head.pug
doctype html
html
  head
    title List
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel="stylesheet", href="/css/styles.css")
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
  body
    .container.mt-5
      h1 This web application was created to fulfill Web Technology module's requirements and does not represent an actual company or service
      a.btn.btn-success(href='/add', role='button') Add
      table.table.table-striped.table-bordered
        thead
          tr
            th(scope="col") ID
            th(scope="col") Location
            th(scope="col") Date
            th(scope="col") Description
            th(scope="col") Actions
        tbody
    script.
      document.addEventListener('DOMContentLoaded', function() {
        axios.get('/api/event').then(function(response) {
          const events = response.data;
          const tableBody = document.querySelector('table tbody');
          events.forEach(t => {
            const row = document.createElement('tr');
            const event = t.event
            row.innerHTML = `
              <td>${t.id}</td>
              <td>${event.location}</td>
              <td>${event.eventDate}</td>
              <td>${event.description}</td>
              <td>
                <button class="btn btn-primary btn-sm" data-id="${t.id}" onclick="window.location.href='/update/${t.id}'">Update</button>
                <button class="btn btn-danger btn-sm" data-id="${t.id}">Delete</button>
              </td>
            `;
            tableBody.appendChild(row);
          });
        })
        .catch(function(error) {
          console.log(error);
        });

        document.addEventListener('click', function(event) {
          if (event.target && event.target.classList.contains('btn-danger')) {
            const eventId = event.target.getAttribute('data-id');
            axios.delete(`/api/event/${eventId}`).then(function(response) {
              alert('Deleted successfully', response);
              location.href = '/'
            })
            .catch(function(error) {
              alert('Error deleting event: ' + error);
            });
          }
        });
        
      });
